<h1>This is another page</h1>

<button type="button" 
        class="btn btn-lg btn-primary"
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Novelty worn off ?">
        Click to toggle popover
</button>

<div><%= link_to "go to home page", root_path %></div>
